<section>
    <div class="tabs-content-wrap" data-anchor="pain">
        <%=painView%>
    </div>

    <div class="tabs-content-wrap" data-anchor="framewrok">
        <%=frameworkView%>
    </div>

    <div class="tabs-content-wrap" data-anchor="advantage">
        <%=advantageView%>
    </div>

    <div class="tabs-content-wrap" data-anchor="apply">
        <%=applyView%>
    </div>

    <div class="tabs-content-wrap" data-anchor="case">
        <%=caseView%>
    </div>

    <div class="tabs-content-wrap" data-anchor="recommend">
        <%=recommendView%>
    </div>

    <%=formView%>
</section>
