<div class="case-layout-6-wrap" <% if(caseData.bg){ %>style="background: <%=caseData.bg%>" <% } %>>
  <div class="case-content">
    <!--标题-->
    <% if(caseData.title) { %>
    <div class="c-module-title <% if(!caseData.desc){ %>c-module-b-60<% } %>"><%=caseData.title%></div>
    <% } else { %>
    <div class="c-module-title <% if(!caseData.desc){ %>c-module-b-60<% } %>">客户案例</div>
    <% } %>

    <!--描述-->
    <% if(caseData.desc) { %>
    <div class="c-module-desc"><%=caseData.desc%></div>
    <% } %>

    <div class="case-view">
      <% caseData.content.forEach(function(column, index){ %>
      <div class="cell-column <% if(index < caseData.content.length - 1){ %>mar-r16<% } %>">
        <% column.data.forEach(function(item){ %>
        <div class="cell-wrap">
          <div class="icon-view">
            <img src="<%=item.cover%>" alt="客户案例" />
          </div>
          <div class="active-content">
            <div class="title-view">
              <div class="logo">
                <img src="<%=item.logo%>" alt="客户案例" />
              </div>
              <h3 class="title-text"><%=item.content.name%></h3>
            </div>
            <div class="point-title-view">
              <div class="icon">
                <img src="/assets/images/common/tixing.svg" alt="客户案例" />
              </div>
              <div class="p-title main-content-title"><%=caseData.pointTitle%></div>
            </div>
            <div class="desc-view main-content-text"><%=item.content.painPoint%></div>
            <div class="point-title-view">
              <div class="icon">
                <img src="/assets/images/common/shuju.svg" alt="客户案例" />
              </div>
              <div class="p-title main-content-title"><%=caseData.pointTitle2%></div>
            </div>
            <div class="desc-view main-content-text"><%=item.content.solution%></div>
          </div>
        </div>
        <% }) %>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<script>
  $('.cell-wrap').on('mouseenter', function() {
    $(this).css({
      width: '624px',
      height: '464px',
      margin: 0,
    }).children('.active-content').css({
      visibility: 'visible'
    })
    $(this).children('.icon-view').css({
      visibility: 'hidden'
    })

    $(this).siblings().css({
      width: '0px',
      height: '0px',
      margin: 0,
    }).children('.active-content').css({
      visibility: 'hidden'
    })
    $(this).siblings().children('.icon-view').css({
      visibility: 'visible'
    })

    $(this).parent('.cell-column').css({
      width: '624px',
      height: '464px'
    })
    $(this).parent('.cell-column').siblings().css({
      width: '312px',
      height: '464px'
    }).children('.cell-wrap').css({
      width: '312px',
      height: '224',
      marginBottom: '16px',
    }).children('.active-content').css({
      visibility: 'hidden'
    })
    $(this).parent('.cell-column').siblings().children('.cell-wrap').children('.icon-view').css({
      visibility: 'visible'
    })
  })
</script>