<script src="/assets/plugins/countup/jquery.waypoints.min.js"></script>
<script src="/assets/plugins/countup/jquery.countup.min.js"></script>
<section class="index-page-wrap">
    <div class="index-content">

        <%=bannerView%>

        <%=productView%>

        <%=solutionView%>

        <%=customerView%>

        <%=logoView%>

        <%=staticsView%>


    </div>

    <%=formView%>

</section>
<script>
  $(document).ready(function () {
    $('.main-layout .header-wrap').removeClass('header-absolute').addClass('header-fixed')
  })
</script>
