<div class="main-banner-wrap">
  <div class="swiper-container-banner">
    <div class="swiper-wrapper">
      <% bannerData.content.forEach(function(banner){ %>
      <div class="swiper-slide swiper-no-swiping" type="<%=banner.type%>" >
        <div class="full-banner-wrap" style="background-image: url('<%=banner.backgroundImg%>')">
          <div class="banner-content-wrap">
            <div class="main-title <% if(banner.type === 'white'){ %>banner-black<% } %>"><%=banner.title%></div>
            <div class="desc-item-wrap">
              <% banner.desc.forEach(function(desc){ %>
              <div class="main-desc <% if(banner.type === 'white'){ %>banner-black<% } %>"><%=desc%></div>
              <% }) %>
            </div>
            <% if(banner.button){ %>
            <% if(banner.action === 'product-video'){ %>
            <div class="main-btn product-video-action"><%=banner.btnText%></div>
            <% } else { %>
            <a class="main-btn" <% if(banner.nofollow){ %> ref="nofollow" <% } %> href="<%=banner.href%>" <% if(banner.target === '_blank'){ %> target="_blank" <% } %>>
              <%=banner.btnText%>
            </a>
            <% } %>
            <% } %>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="banner-pagination"></div>
  </div>

  <!--// 悬浮栏目-->
  <div class="column-wrap">
    <div class="column-content">
      <% columnData.content.forEach(function(columnItem){ %>
      <a class="column-cell fn-left" href="<%=columnItem.href%>" <% if(columnItem.target){ %>target="<%=columnItem.target%>" <% } %>>
        <span class="tit main-content-title color-white"><%=columnItem.title%></span>
        <div class="desc color-white"><%=columnItem.text%></div>
      </a>
      <% }); %>
    </div>
  </div>
</div>
<script>
  $(function() {
    let bannerSwiper = new Swiper('.swiper-container-banner', {
      autoplay: 5000,
      speed: 500,
      loop: true,
      effect: 'fade',
      noSwiping: true,
      pagination: '.banner-pagination',
      mousewheelControl: false,
      watchSlidesProgress: true,
      autoplayDisableOnInteraction: false,
      watchSlidesVisibility: true,
      onSlideChangeStart: function(swiper) {
        // swiper 左右各有一个复制的cell ，用于过渡
        if(swiper.activeIndex === 4){
          $(".header-content .logo .v-img").attr('src','/assets/images/logo/blue.svg')
          $(".header-content .tel .tel-img").attr('src','/assets/images/phone/phone-blue.svg')
          $(".header-content .tel .tel-t").addClass('tel-t-white')
          $(".header-content .header-nav a").addClass('t-white')
          $(".header-content .header-nav .empty-span").addClass('t-white-t')
          $(".header-bg").css('background', '#FFFFFF')
        } else {
          $(".header-content .logo .v-img").attr('src','/assets/images/logo/white.svg')
          $(".header-content .tel .tel-img").attr('src','/assets/images/phone/phone-white.svg')
          $(".header-content .tel .tel-t").removeClass('tel-t-white')
          $(".header-content .header-nav a").removeClass('t-white')
          $(".header-content .header-nav .empty-span").removeClass('t-white-t')
          $(".header-bg").css('background', '#181616')
        }
      }
    });

    $(".banner-pagination").on("click", "span", function() {
      let index = $(this).index();
      bannerSwiper.slideTo(index + 1);
    })

    $(".product-video-action").on("click", function() {
      let modal = new Custombox.modal({
        content: {
          effect: 'fadein',
          target: '#product-video-dialog',
          onClose: function() {
            console.log('接机')
            videojs('product-video-player').pause()
          },
        }
      });
      modal.open();
      setTimeout(function() {
        videojs('product-video-player').play()
      }, 300)
    })

  })
</script>
