<section class="company-main-wrap">

  <div class="tabs-content-wrap" data-anchor="us">
    <%=usView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="team">
    <%=teamView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="value">
    <%=valueView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="life">
    <%=lifeView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="history">
    <%=historyView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="prize">
    <%=prizeView%>
  </div>

  <%=formView%>
</section>