<div class="advantage-n-3-b" <% if(advantageData.bg){ %>style="background: <%=advantageData.bg%>" <% } %>>
  <div class="advantage-content">
    <!--标题-->
    <% if(advantageData.title) { %>
    <div class="c-module-title <% if(!advantageData.desc){ %>c-module-b-60<% } %>"><%=advantageData.title%></div>
    <% } else { %>
    <div class="c-module-title <% if(!advantageData.desc){ %>c-module-b-60<% } %>">产品优势</div>
    <% } %>

    <!--描述-->
    <% if(advantageData.desc) { %>
    <div class="c-module-desc"><%=advantageData.desc%></div>
    <% } %>

    <!--内容-->
    <div class="advantage-view c-module-b-60">
      <% advantageData.content.forEach(function(item, index){ %>
      <div class="advantage-n-3-a-cell min-h-125 fn-left <% if((index + 1) % 3 !== 0){ %>mar-r100<% } %> <% if( index < advantageData.content.length - 3){ %>mar-b24<% } %>" <% if(item.cellHeight){ %>style="height: <%=item.cellHeight%>px" <% } %>>
        <div class="module-icon-b-wrap fn-left">
          <img src="<%=item.icon%>" alt="<%=item.alt%>" />
        </div>
        <div class="tit-b"><%=item.title%></div>
        <div class="desc-b"><%=item.text%></div>
      </div>
      <% }); %>
    </div>
  </div>
</div>