<div class="content-cell">
  <img class="icon fn-left" src="/assets/images/common/wenjian.svg" alt="文件" />
  <div class="title">
    <%=item.title%>
    <% if(item.tag && item.tag.length > 0) { %>
    <% item.tag.forEach(function(tag){ %>
    <span class="tag"><%=tag%></span>
    <% }); %>
    <% } %>
  </div>
  <% if(item.desc && item.desc !== '') { %>
  <div class="desc"><%=item.desc%></div>
  <% } %>
  <div class="extra-wrap">
    <div class="fn-left text-wrap">
      <img src="/assets/images/service/resource/other/shijian.svg" alt="时间" />
      <span><%=item.date%></span>
    </div>
    <div class="fn-left text-wrap">
      <img src="/assets/images/service/resource/other/xiazai.svg" alt="下载" />
      <span><%=item.download%>次下载</span>
    </div>
    <div class="fn-left text-wrap">
      <img src="/assets/images/service/resource/other/daxiao.svg" alt="文件大小" />
      <span><%=item.size%></span>
    </div>
    <div class="fn-left text-wrap">
      <img src="/assets/images/service/resource/other/ziyuan.svg" alt="文件类型" />
      <span><%=item.type%></span>
    </div>
  </div>

  <div class="btn-wrap">
    <span class="txt" href="/assets/pdf/1.pdf" download="/assets/pdf/1.pdf">点击下载</span>
    <img src="/assets/images/common/xiangyou-fill.svg" alt="下载" />
  </div>
</div>