<section>
  <div class="tabs-content-wrap" data-anchor="advantage">
    <%=advantageView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="core">
    <%=coreView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="apply">
    <%=applyView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="case">
    <%=caseView%>
  </div>

  <div class="tabs-content-wrap" data-anchor="history">
    <%=historyView%>
  </div>

  <%=formView%>
</section>
