<!DOCTYPE html>
<html class="no-js" lang="zh">

<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <meta name="description" content="<%=description%>">
  <meta name="keywords" content="<%=keywords%>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="icon" href="<%= favicon %>" type="image/x-icon">
  <link rel="stylesheet" href="/assets/plugins/css/pagination.css">
  <link rel="stylesheet" href="/assets/plugins/css/custombox.min.css">
  <link rel="stylesheet" href="/assets/plugins/css/jquery.toast.css">
  <link rel="stylesheet" href="/assets/plugins/video-js/video-js.css" />
  <script src="/assets/plugins/jquery.min.js"></script>
  <script src="/assets/plugins/pagination.js"></script>
  <script src="/assets/plugins/video-js/video.js"></script>
  <script src="/assets/plugins/custombox.min.js"></script>
  <script src="/assets/plugins/jquery.cookie.js"></script>
  <script src="/assets/plugins/jquery.toast.js"></script>
  <script src="/assets/js/common.js"></script>
  <script>
    videojs.options.flash.swf = "/assets/plugins/video-js/video-js.swf";
  </script>
</head>

<body class="main-layout wrap-<%= key %>">

  <%= header %>

  <%= banner %>

  <% if(tabsData.length) { %>
  <%= tabs %>
  <% } %>

  <!-- main-wrap -->
  <section class="main-wrap">
    <div class="main-content">
      <%= container %>
    </div>
  </section>

  <%= footer %>

  <%= sideMenu %>
</body>

</html>